{
    "CDN": [
    {
        "rule_id": "AT-CDN-1",
        "rule_name": "cdn_upmid_rule_captcha_test",
        "user_type": "upmid",
        "path": "/product_feed/threads/v3",
        "method": "GET",
        "status": "200",
        "window": 10,
        "limit": 5,
        "block_time": 30,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "captcha".
        "ttl": 90
    }, {
        "rule_id": "AT-CDN-2",
        "rule_name": "cdn_ip_rule",
        "user_type": "ipaddress",
        "path": "/product_feed/threads/v3",
        "method": "GET",
        "status": "200",
        "window": 10,
        "limit": 5,
        "block_time": 30,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "captcha",
        "ttl": 90
    }, {
        "rule_id": "AT-CDN-3",
        "rule_name": "cdn_upmid_rule_block_test",
        "user_type": "upmid",
        "path": "/product_feed/threads/v3",
        "method": "GET",
        "status": "200",
        "window": 10,
        "limit": 6,
        "block_time": 30,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "block",
        "ttl": 90
    }, {
        "rule_id": "AT-CDN-4",
        "rule_name": "cdn_ip_rule_demo",
        "user_type": "ipaddress",
        "path": "/buy/checkouts/v3",
        "method": "PUT",
        "status": "200",
        "window": 10,
        "limit": 5,
        "block_time": 30,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "captcha",
        "ttl": 90
    }, {
        "rule_id": "AT-CDN-5",
        "rule_name": "cdn_upmid_rule_captcha",
        "user_type": "upmid",
        "path": "/buy/checkouts/v3",
        "method": "PUT",
        "status": "200",
        "window": 10,
        "limit": 5,
        "block_time": 30,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "captcha",
        "ttl": 90
    }, {
        "rule_id": "AT-CDN-6",
        "rule_name": "cdn_upmid_rule_block",
        "user_type": "upmid",
        "path": "/buy/checkouts/v3",
        "method": "PUT",
        "status": "200",
        "window": 10,
        "limit": 6,
        "block_time": 30,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "block",
        "ttl": 90
    }],
    "WAF": [{
        "rule_id": "AT-WAF-1",
        "rule_name": "waf_001_ipaddress_product_feet_threads_v2",
        "user_type": "trueClientIp",
        "path": "/product_feed/threads/v2",
        "method": "GET",
        "status": "200",
        "window": 5,
        "limit": 3,
        "block_time": 5,
        "enforce": "YES",
        "name_space": "artemis_test",
        "ttl": 90
    }, {
        "rule_id": "AT-WAF-2",
        "rule_name": "waf_002_umid_orders_history",
        "user_type": "umid",
        "path": "/orders/history",
        "method": "GET",
        "status": "200",
        "window": 10,
        "limit": 10,
        "block_time": 10,
        "enforce": "YES",
        "name_space": "artemis_test",
        "action": "captcha",
        "ttl": 90
    }, {
          "rule_id": "AT-WAF-3",
          "rule_name": "waf_003_phone_number_credential_lookup",
          "user_type": "phonenumber",
          "path": "/credential_lookup/v1",
          "method": "POST",
          "status": "200",
          "window": 10,
          "limit": 10,
          "block_time": 10,
          "enforce": "YES",
          "name_space": "artemis_test",
          "action": "captcha",
          "ttl": 90
     }, {
          "rule_id": "AT-WAF-4",
          "rule_name": "waf_004_phone_number_challenge_password",
          "user_type": "phonenumber",
          "path": "/challenge/password/v1",
          "method": "POST",
          "status": "200",
          "window": 10,
          "limit": 10,
          "block_time": 10,
          "enforce": "YES",
          "name_space": "artemis_test",
          "action": "captcha",
          "ttl": 90
     }, {
          "rule_id": "AT-WAF-5",
          "rule_name": "waf_005_phone_number_verification_code",
          "user_type": "phonenumber",
          "path": "/verification_code/send/v1",
          "method": "POST",
          "status": "200",
          "window": 10,
          "limit": 10,
          "block_time": 10,
          "enforce": "YES",
          "name_space": "artemis_test",
          "action": "captcha",
          "ttl": 90
     }, {
          "rule_id": "AT-WAF-6",
          "rule_name": "waf_006_phone_number_password_reset",
          "user_type": "phonenumber",
          "path": "/password_reset/v1",
          "method": "POST",
          "status": "200",
          "window": 10,
          "limit": 10,
          "block_time": 10,
          "enforce": "YES",
          "name_space": "artemis_test",
          "action": "captcha",
          "ttl": 90
     }],
    "LAUNCH": [{
        "rule_id": "AT-LAUNCH-1",
        "rule_name": "launch county block",
        "block_kind": "county",
        "limit": 5,
        "window_size": 10,
        "block_time": 60,
        "rule_state": "ON",
        "action": "captcha"
    }, {
        "rule_id": "AT-LAUNCH-2",
        "rule_name": "launch trueClientIp block",
        "block_kind": "trueClientIp",
        "limit": 5,
        "window_size": 10,
        "block_time": 60,
        "rule_state": "ON",
        "action": "captcha"
    }, {
        "rule_id": "AT-LAUNCH-3",
        "rule_name": "launch upmid block",
        "block_kind": "upmid",
        "limit": 5,
        "window_size": 10,
        "block_time": 60,
        "rule_state": "ON",
        "action": "captcha"
    }]
}